body{
    margin:0px;
    padding:0px;
    background: url("../images/starsky1.png") repeat-y #00184f;
    background-size: 100% 100%;
    color: white;
}
.content{
    width: 102%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    min-width: 1350px;
}
.content-com{
    height: 600px;
    position: relative;
    float: left;
}
.content-left{
    width:23%;
    margin: 5px 15px auto 15px;
}
.content-middle{
    width: 38%;
    margin-right: 15px;
}
.content-right{
    width: 35%;
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.title{
    height: 40px;
    line-height: 40px;
    color: #1bcee7;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    background-color: #02458b;
    padding-left: 15px;
    filter:alpha(opacity=0);
    -moz-opacity:0.9;
    -webkit-opacity:0.9;
    opacity:0.9;
}
.icon{
    width: 15px;
    height: 15px;
    background-size: 16px 16px;
    position: absolute;
}
.left-top{
    border-left: 4px solid #1bcee7;
    border-top: 4px solid #1bcee7;
    left: 0px;
    top: 0px;
}
.right-top{
    border-right: 4px solid #1bcee7;
    border-top: 4px solid #1bcee7;
    right: 0px;
    top: 0px;
}
.left-bottom{
    border-left: 4px solid #1bcee7;
    border-bottom: 4px solid #1bcee7;
    left: 0px;
    bottom: 0px;
}
.right-bottom{
    border-right: 4px solid #1bcee7;
    border-bottom: 4px solid #1bcee7;
    right: 0px;
    bottom: 0px;
}
.left-count,.hot-world,.bussiness-proportion,.map,.month-bussiness{
    margin-bottom: 5px;
    border: 5px solid #fefefe;
    border-image-source: url(../images/border.png);
    border-image-slice: 5 5 5 5;
}
/*.hot-world{
    margin-bottom: 5px;
}*/
.bussiness-proportion{
    /*padding: 5px 15px 0 15px;*/
}
.count-info{
    border:1px solid #02458b;
    position: relative;
    height: 130px;
}
.word-echart{
    height: 220px;
    border:1px solid #02458b;
    position: relative;
}
.word-echart a{
    text-decoration: none;
    line-height: 32px;
    margin: 5px 5px;

}
.word-wrap{
    position: relative;

}
.map-wrap{
    position: relative;
}
.map-number{
    position: absolute;
    top: 0;
    right: 5%;
}
.map-title{
    color:#1bcee7;
    font-size: 16px; 
}
.number{
    color: #e0fb18;
    font-size:24px;
}
.month-wrap{
    position: relative;
    border:1px solid #02458b;
}
.bussiness-wrap{
    position: relative;
}
.analysis-wrap{
    position: relative;
    border:1px solid #02458b;
}
.search-wrap{
    position: relative;
    border:1px solid #02458b;
}
.bussiness-echart{
    border:1px solid #02458b;
}
.map-echart{
    border:1px solid #02458b;
    width: 100%;
}
.content-title{
    font-size: 24px;
    font-weight: bold;
    color: #1bcee7;
    margin-top: 5px;
    text-align: center;
  
}
.content-title span{
    border-bottom: 1px solid #1bcee7;
}
.map{
    margin: 5px auto;
}
.month-bussiness{
    /*padding: 5px 15px 0 0;*/
    margin: 5px auto;
}
.month-sum{
    border:1px solid #02458b;
    position: relative;
}
.mon-tb{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    text-align: center;
}

.mon-tb td{
    color: #ffffff;
    font-size: 14px;
    padding: 5px 5px;
    border-bottom: 1px solid #17e5f4;
}
.tb-th{
    color: #1bcee7 !important;
}
.count-tb{
    width: 95%;
    margin: 0 auto;
    padding: 50px 0 20px 0;
    text-align: center;
}
.count-tb td{
    color: #1bcee7;
    font-size: 14px;
    padding: 5px 5px;
    border-bottom: 1px solid #17e5f4;
}
.count-tb tr{
    border-bottom: 1px solid #1bcee7;
}
.Number{
    color: #d2ae24;
}
.calendar-box{
    position: absolute;
    top: 0;
    right: 5%;
}
.calendar{
    color: black;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #bcf2fd;
    border-radius: 4px;
    display: inline-block;

}
#tagbox a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:#000; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#tagbox a:hover {border: 1px solid #eee; background: #FFF; }
#tagbox .blue {color:blue;}
#tagbox .red {color:red;}
#tagbox .green {color:green;}