body{
    background-color: #032376;
    margin:0px;
    padding:0px;
}
.Content{
    width: 100%;
    height: 610px;
    position: relative;
    overflow: hidden;
}
.Content-left{
    width:23%;
    height: 600px;
    position: relative;
    float: left;
    background-color:#091d67;
    /*padding: 15px 15px 0 0;*/
}
.Content-middle{
    width: 42%;
    height: 600px;
    position: relative;
    float: left;
    background-color:#091d67;
}
.Content-right{
    width: 35%;
    height: 600px;
    position: relative;
    float: left;
    background-color:#091d67;
}

.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clear{
    clear:both;
}
.title{
    height: 40px;
    line-height: 40px;
    color: #1bcee7;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    background-color: #02458b;
    padding: 5px auto 5px 15px;
    padding-left: 15px;
    
}
/*.title:before{
  
    background-image:url("../images/left-top.png") right bottom no-repeat;
    background-size: 22px 22px;
}*/
.left-top{
    width: 15px;
    height: 15px;
    background: url(../images/left-top.png) center left no-repeat;
    background-size: 16px 16px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.right-top{
    width: 15px;
    height: 15px;
    background: url(../images/right-top.png) center right no-repeat;
    background-size: 16px 16px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.left-bottom{
    width: 15px;
    height: 15px;
    background: url(../images/left-bottom.png) center left no-repeat;
    background-size: 16px 16px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.right-bottom{
    width: 15px;
    height: 15px;
    background: url(../images/right-bottom.png) center right no-repeat;
    background-size: 16px 16px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.left-count{
    padding: 15px 15px 0 0;
}
.hot-world{
    padding: 15px 15px 0 0;
}
.bussiness-proportion{
    padding: 15px 15px 0 0;
}
.count-info{
    border:1px solid #02458b;
    position: relative;
}
.word-echart{
    border:1px solid #02458b;
    position: relative;
}
.word-wrap{
    position: relative;
}
.map-wrap{
    position: relative;
}
.month-wrap{
    position: relative;
}
.bussiness-wrap{
    position: relative;
}
.analysis-wrap{
    position: relative;
    border:1px solid #02458b;
}
.search-wrap{
    position: relative;
    border:1px solid #02458b;
}
.bussiness-echart{
    border:1px solid #02458b;
}
.map-echart{
    border:1px solid #02458b;
    width: 100%;
}
.content-title{
    font-size: 24px;
    font-weight: bold;
    color: #1bcee7;
    margin-top: 5px;
    text-align: center;
  
}
.content-title span{
    border-bottom: 1px solid #1bcee7;
}
.map{
    padding: 15px 15px 0 0;
}
.month-bussiness{
    padding: 15px 15px 0 0;
}
.month-sum{
    border:1px solid #02458b;
    position: relative;
}
.mon-tb{
    text-align: center;
}
.mon-tb td{
    color: #1bcee7;
    font-size: 16px;
    white-space: nowrap;
    padding: 5px 8px;
    width: 33.33%
}
.mon-tb tr{
    border-bottom: 1px solid #1bcee7;
}
.tb-tr:after{
    content: " ";
    position: absolute;
    left: 10px;
    right: 10px;
    border-bottom: 1px solid #1bcee7;
    color: #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 5;
}
.count-tb{
    text-align: center;
}
.count-tb td{
    color: #1bcee7;
    font-size: 16px;
    white-space: nowrap;
    padding: 5px 8px;
    width: 50%
}
.count-tb tr{
    border-bottom: 1px solid #1bcee7;
}
.count-tr:after{
    content: " ";
    position: absolute;
    left: 10px;
    right: 10px;
    border-bottom: 1px solid #1bcee7;
    color: #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 5;
}
.color1{
    color: blue;
}
.color2{
    color: yellow;
}
.color1{
    color: red;
}